@theme {
  /* General */
  --radius: 0.425rem;

  /* Colors */
  --color-primary: #133b6b;
  --color-primary-foreground: #ffffff;
  --color-secondary: #02b5ff;
  --color-secondary-foreground: #ffffff;
  --color-accent: #ff5e22;
  --color-accent-foreground: #ffffff;

  --color-background: #fbfcfd;
  --color-foreground: #1e1f20;
  --color-background-muted: #e7ecef;
  --color-background-input: #f8f8f8;
  --color-card: #deecf4;
  --color-muted: #3a3d3f;
  --color-border: #abaeb3;

  --color-ring: #44d0ff;

  /* Semantic colors */
  --color-success: #00a651;
  --color-success-foreground: #ffffff;
  --color-warning: #ffb300;
  --color-warning-foreground: #ffffff;
  --color-destructive: #bb0900;
  --color-destructive-foreground: #ffffff;

  /* Fonts */
  --font-montserrat: 'Montserrat Variable', sans-serif;
  --font-nunito: 'Nunito Variable', sans-serif;
}

@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Nunito Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/nunito:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}
